<div *ngIf="mobile" ngClass="menu-hamburger">
    <button mat-mini-fab [matMenuTriggerFor]="appMenu" class="menu-button open-nav">
        <i class="material-icons">menu</i>
    </button>
    <mat-menu #appMenu="matMenu">
        <ng-template matMenuContent>
        	<!-- user AND anonymous menu -->
            <div *ngFor="let element of menuElements">
                <a mat-raised-button routerLink="{{element.link}}"> 
                    <i class="material-icons">{{element.icon}}</i> {{element.text}}
                </a>
            </div>
            <!-- user menu -->
            <ng-container *ngIf="user">
            	<div *ngFor="let element of menuElementsUser">
	                <a mat-raised-button routerLink="{{element.link}}"> 
	                    <i class="material-icons">{{element.icon}}</i> {{element.text}}
	                </a>            		
            	</div>
            </ng-container>
            <!-- anonymous menu -->
            <ng-container *ngIf="!user">
            	<div *ngFor="let element of menuElementsAnon">
	                <a mat-raised-button routerLink="{{element.link}}"> 
	                    <i class="material-icons">{{element.icon}}</i> {{element.text}}
	                </a>            		
            	</div>
            </ng-container>
        </ng-template>
    </mat-menu>    
</div>

<div *ngIf="!mobile">
    <ul>
    	<!-- user AND anonymous menu -->
        <li *ngFor="let element of menuElements">
            <a mat-raised-button routerLink="{{element.link}}"> 
            	<i class="material-icons">{{element.icon}}</i> {{element.text}}
            </a>
        </li>
        <!-- user menu -->
        <ng-container *ngIf="user">
        	<li *ngFor="let element of menuElementsUser">
            	<a mat-raised-button routerLink="{{element.link}}"> 
            		<i class="material-icons">{{element.icon}}</i> {{element.text}}
            	</a>        		
        	</li>
        </ng-container>
        <!-- anonymous menu -->
        <ng-container *ngIf="!user">
        	<li *ngFor="let element of menuElementsAnon">
	            <a mat-raised-button routerLink="{{element.link}}"> 
	            	<i class="material-icons">{{element.icon}}</i> {{element.text}}
	            </a>        		
        	</li>
        </ng-container>
    </ul>
</div>